body {
    background-color: #CFEBC7;
}
.header {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}
.player-tab {
    background-color: violet;
    border-radius: 0 10px 10px 0;
    color: white;
    padding-top: 10%;
    min-width: 100px;
    min-height: 30px;
    text-align: center;
    font-size: 20px;
}
.computer-tab {
    background-color: orange;
    border-radius: 10px 0 0 10px;
    color: white;
    padding-top: 10%;
    min-width: 150px;
    min-height: 30px;
    text-align: center;
    font-size: 20px;
}
.player-counter {
    font-size: 17px;
}
.computer-counter {
    font-size: 17px;
}
.cloud-block {
    position: relative;
}
.background-cloud {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 375px;
    height: 225px; */
    width: 100vw;
    height: 35vh;
    /* max-width: 550px;
    max-height: 400px; */
}
.icons {
    display: flex;
    justify-content: center;
}
.paper {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 10%;
}
.paper:hover {
    height: 110px;
}
.rock {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 40%;
}
.rock:hover {
    height: 110px;
    width: 110px;
}
.scissors {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 70%;
}
.scissors:hover {
    height: 110px;
    width: 110px;
}
.avatars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.player-avatar {
    max-height: 200px;
}
.player-avatar:hover {
    margin-top: -20px;
}
.computer-avatar {
    height: 50%;
    max-height: 200px;
}
.computer-avatar:hover {
    margin-top: -20px;
}
.choice {
    text-align: center;
    color: black;
}
@media (min-width: 600px) {
    .background-cloud {
        width: 90vw;
        height: 45vh;
    } 
    .paper {
        left: 17%;
    }
    .rock {
        left: 42%;
    }
    .scissors {
        left: 67%;
    }
}
@media (min-width: 770px) {
    .background-cloud {
        width: 80vw;
        height: 45vh;
    }

    .paper {
        left: 25%;
    }

    .rock {
        left: 43%;
    }

    .scissors {
        left: 60%;
    }
}
@media (min-width: 990px) {

    .background-cloud {
        width: 45vw;
        height: 35vh;
    }
    .paper {
        left: 31%;
        width: 120px;
        height: 120px;
    }
    .paper:hover {
        height: 130px;
        width: 130px;
    }
    .rock {
        left: 44%;
        width: 120px;
        height: 120px;
    }
    .rock:hover {
        height: 130px;
        width: 130px;
    }
    .scissors {
        left: 57%;
        width: 120px;
        height: 120px;
    }
    .scissors:hover {
        height: 130px;
        width: 130px;
    }
    .player-tab {
        min-width: 200px;
        min-height: 60px;
        font-size: 35px;
    }
    .computer-tab {
        min-width: 200px;
        min-height: 60px;
        font-size: 30px;
    }
    .player-counter {
         font-size: 20px;
    }
    .computer-counter {
         font-size: 20px;
    }
}
@media (min-width: 1200px) {

    .background-cloud {
        width: 50vw;
        height: 45vh;
    }

    .paper {
        left: 34%;
        width: 120px;
        height: 120px;
    }

    .rock {
        left: 46%;
        width: 120px;
        height: 120px;
    }

    .scissors {
        left: 58%;
        width: 120px;
        height: 120px;
    }
}