body {
    background-color: #CFEBC7;
}
.header {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}
.player-tab {
    background-color: violet;
    border-radius: 0 10px 10px 0;
    color: white;
    margin: 0% 0% 0% -10%;
    padding: 7% 5% 0% 15%;
    min-width: 100px;
    min-height: 30px;
    text-align: right;
    font-size: 20px;
}
.computer-tab {
    background-color: orange;
    border-radius: 10px 0 0 10px;
    color: white;
    margin: 0% -10% 0% 0%;
    padding: 7% 15% 0% 5%;
    min-width: 150px;
    min-height: 30px;
    text-align: left;
    font-size: 20px;
}
.player-counter {
    font-size: 17px;
}
.computer-counter {
    font-size: 17px;
}
.background-cloud {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 225px;
    /* max-width: 550px;
    max-height: 400px; */
}
.icons {
    display: flex;
    justify-content: center;
    position: relative;
    top: -165px;
}
.paper {
    width: 100px;
    height: 100px;
}
.rock {
    width: 100px;
    height: 100px;
}
.scissors {
    width: 100px;
    height: 100px;
}
.avatars {
    position: relative;
}
.player-avatar {
    position: absolute;
    left:0;
    top: 15px;
    height: 90px;
}
.computer-avatar {
    position: absolute;
    right:0;
    top:15px;
    height: 90px;
}
.win {
    color: green;
    text-align: center;
}
.lose {
    color: red;
    text-align: center;
}
.draw {
    color: blue;
    text-align: center;
}